{% extends "base2.html.twig" %}

{% block title %}Mon compte{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            {% include "_profilnav.html.twig" %}       
        </div>
    </div>
{% endblock %}
