{% extends "base2.html.twig" %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<img src="{{ asset('assets/images/1681563157-6950-card.jpg') }}" class="img-fluid w-100  mx-auto d-block rounded " alt="ACME logo">

    <div class="container">
        <div class="row">
            {% include "_profilnav.html.twig" %}       
        </div>
    </div>
{% endblock %}
