{% extends 'base_add_theme.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
<main class="container">
    <section class="row">
        <div class="col-12">
    <h1>Mot de passe oublié</h1>
    <div class="forms">
    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-warning text-white">Reinitialiser votre mot de passe</button>
    {{ form_end(resetForm) }}
</div>
</div>
</section>
</main>
{% endblock %}