{% extends "baseaddtheme.html.twig" %}

{% block title %} Ajouter un commentaire {% endblock %}

{% block body %}
<main class="container">
    <section class="row">
        <div class="col-12">
            <h1> Ajouter un commentaire :</h1>
            <div class="form">
                {{ form_start(form) }}
                {{ form_row(form.commentaire, { 'attr': {'rows': 6, 'style': 'resize:none;', 'wrap': 'hard', 'maxlength':600} }) }}
                <button type="submit" class="btn btn-warning btn-lg text-white">Valider</button>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
</main>
{% endblock %}
