{% extends "base_add_theme.html.twig" %}

{% block title %} Modifier votre commentaire {% endblock %}

{% block body %}
<main class="container">
    <section class="row">
        <div class="col-12">
            <h1> Modifier votre commentaire :</h1>
            <div class="form">
                <div class="form">
                    {{ form_start(form) }}
                    {{ form_row(form.commentaire) }}
                    <button type="submit" class="btn btn-warning btn-lg text-white">Valider</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}