.table {

    margin: 0 auto;
    margin-top: 80px;
    text-align: left;
}


.table tbody tr:hover {
    background-color: #2A2C32;
}

body {


    background-color: #15171E;
}



h1 {

    margin-top: 80px;
    color: rgb(224, 168, 95);
    Font-family: Goudy Old Style, Garamond, Big Caslon, Times New Roman, serif;
}
.navbar {

    background-color: transparent;
    font-style: italic;
    color: white;
    position: relative;
    z-index: 1;
    font-family: cursive, Times New Roman, serif;


}

p {
    color: white;

}

main.container {

    background-color: rgba(0, 0, 0, 0);
}

h2 {
    color: white;

}

section.row {
    background-color: rgba(0, 0, 0, 0);
}

th {

    color: rgb(224, 168, 95);
    font-size: 20px;
    padding-left: 5px;
    font-family: cursive, Times New Roman, serif;


}

a {
    padding: 5px;
    text-decoration: none;
    list-style-type: none;
    color: white;
    font-family: cursive, Times New Roman, serif;

}

a:hover {
    list-style-type: armenian;

    color: rgb(224, 168, 95);
}

.table td {

    padding: 15px;
    background-color: rgba(0, 0, 0, 0);
    font-family: cursive;


}

.table th {
    padding: 15px;
}

.w-auto td {

    color: white;
}

.pagination {

    margin-top: 2%;
    margin-left: 75%;

    padding: 1.1em;


}

.pagination a {
    font-size: 1.3em;
    color: white;
   
}

.pagination a:hover {

    color: rgb(224, 168, 95);
}

.current {

    color: grey;
    font-size: 1.3em;


}
@media (max-width: 440px) {
    .table th {
        padding: 2px;
    }
    .table td {


        font-size: 15px;

    
    }
    th {

        padding-left: 3px;
    
    }

  }