body {
    background-color: #15171E;
   
}

h1 {
    margin-top: 80px;
    color: rgb(224, 168, 95);
    font-family: Goudy Old Style, Garamond, Big Caslon, Times New Roman, serif;
}

ul {
    background-color: #15171E;
   

}



p {
    color: gold;
    font-family: Georgia, serif;
}

.li {
   
    background-color: #15171E;
}

h2 {
    color:white;
}

section {
    display: flex;
    background-color: #15171E;
    border-bottom: 1px solid grey;
}

article {
    padding: 30px;
    border-top: 1px solid grey;
}

h1 a {
    font-size: 1em;
    color: rgb(224, 168, 95);
    font-family: Goudy Old Style, Garamond, Big Caslon, Times New Roman, serif;
}

a {
    padding: 5px;
    text-decoration: none;
    list-style-type: none;
}

a:hover {
    list-style-type: armenian;
    text-decoration: underline;
}

article p {
    margin-top: 1em;
}

.col-12 {
    padding-bottom: 2em;
}

.pagination {
    margin-top: 2%;
    margin-left: 75%;
    padding: 1.1em;
}

.pagination a {
    font-size: 1.3em;
    color: white;
}

.pagination a:hover {
    color: rgb(224, 168, 95);
}

.current {
    font-size: 1.5em;
    color: grey;
    margin-right: 0.3em;
}

pre {
    color: lightblue;
}