
  

body {
    
   
    background-color: rgba(0, 0, 0, 0.903);
}



h1  {
  
    margin-top: 80px;
    color: rgb(224, 168, 95);
}

span {

   
    font-size:large;
   
    color: rgb(224, 168, 95);

}

nav{

    font-style: italic;
    color:white;
}

p {
    color:white;

}
main.container{
   
 vertical-align: auto;
    background-color: rgba(0, 0, 0, 0);
}

h2 {
    color:white;

}

section
{
    display: flex;
    background-color: rgba(0, 0, 0, 0);
 
}
article
{
 
    padding:25px;
    
}



