{% extends "base_theme.html.twig" %}

{% block title %}Page non trouvée {% endblock %}

{% block body %}
    <main class="container text-center">
        <section class="row p-3">
            <div class="col-12">
                <h1>401 Unauthorized</h1>
                <p class="lead">Vous n'êtes pas connecté.</p>            
            </div>
            
        </section>
    </main>
{% endblock %}