{% extends "base_theme.html.twig" %}

{% block title %}Page non trouvée {% endblock %}

{% block body %}
<main class="container text-center">
    <section class="row p-3">
        <div class="col-12">
            <h1>400 Bad Request</h1>
            <p class="lead"> Une erreur 400 peut être due à un certain nombre de facteurs, notamment une mauvaise
                connexion Internet,
                un problème de mise en cache ou un dysfonctionnement du navigateur. Vérifiez votre connexion et vos
                paramètres,
                videz votre cache, ouvrez un autre navigateur et réessayez.</p>
        </div>
    </section>
</main>
{% endblock %}