{% extends "base_theme.html.twig" %}

{% block title %}Compte Banni{% endblock %}

{% block body %}
<main class="container text-center">
    <section class="row p-3">
        <div class="col-12">
            <h1>Votre compte a été banni</h1>
            <p class="lead">Votre compte a été banni pour violation des règles de la communauté.</p>
            <p class="lead">Si vous pensez qu'il s'agit d'une erreur, veuillez contacter l'administrateur.</p>
        </div>
    </section>
</main>
{% endblock %}